body {
	background: url("../images/content-texture.png");
	width: 500px;
	height: 400px;
	height: auto;
}

.sidebarTabs {
	border-right: 1px solid #7B7E83;
	width: 150px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
}

.sidebarTabs ul li {
	margin-top: 5px;
}

.sidebarTabs li a {
	display: block;
	color: #272727;
	margin-bottom: 1px;
	padding-left: 9px;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	outline: none;
	white-space: nowrap;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .36);
}

.sidebarTabs li a span {
	margin-right: 2px;
}

.sidebarTabs .active a, .sidebarTabs .tab a:active {
	border-bottom: 1px solid #BCBEC4;
	background-color: #537C9C;
	color: white;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .75);
	margin-bottom: 0;
	overflow: hidden;
}

.sidebarTabContent {
	height: 300px;
	margin-left: 151px;
	padding: 4px 4px 10px;
}

.tabContentWrapper {
	-webkit-box-shadow: #DDDEE0 0px 1px 0px, white 0px 1px 0px inset, #D4D5D6 0px 0px 0px 1px inset;
	background-color: #DFE0E2;
	border: 1px solid #72767B;
	height: 100%;
}

.tabContentWrapper iframe {
	margin: 10px;
}